@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Medium.ttf) format('truetupe'),
        url(./fonts/Inter-Regular.ttf) format('truetupe'),
        url(./fonts/Inter-SemiBold.ttf) format('truetupe');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(./fonts/PlayfairDisplay-Bold.ttf) format('truetupe');
}

@font-face {
    font-family: 'Mulish';
    src: url(./fonts/Mulish-Light.ttf) format('truetupe'),
        url(./fonts/Mulish-Bold.ttf) format('truetupe');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    background: #fbf9f9;
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    background-image: url(./assets/logo.svg);
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
}

header nav {
    display: flex;
    align-items: baseline;
}

header nav p {
    margin-right: 30px;
    font: 500 16px 'Inter';
}

header nav p:hover {
    text-decoration: underline;
    color: black;
}

header nav div:not(:last-child) {
    margin-right: 18px;
}

nav input {
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    text-align: center;
    color: #FB8F1D;
    font: 500 15px 'Inter';
}

nav button {
    width: 132px;
    height: 44px;
    background: #FB8F1D;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0.8px solid #FFFF;
    font: 500 15px 'Inter';
}

.section-one {
    display: flex;
    justify-content: space-around;
    margin-top: 134px;
}

h1 {
    margin-bottom: 74px;
    font: 700 64px 'PlayfairDisplay';
}

.section-one p {
    font: 600 22px 'Inter';
}

input {
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    text-align: center;
    font: 400 15px 'Inter';
}

.input-one {
    margin-top: 74px;
}

.input-two {
    margin-top: 30px;
}

section button {
    width: 180px;
    height: 52px;
    color: #FFFFFF;
    background: #FB8F1D;
    border-radius: 8px;
    border: 0.8px solid #FFFF;
    margin-top: 47px;
    font: 600 16px 'Inter';
}

.img-section1 {
    background-image: url(./assets/thousand-01\ 1.svg);
    width: 506px;
    height: 483px;
    background-repeat: no-repeat;
}

.section-two-four {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
}

.img-section2 {
    background-image: url(./assets/Thousand-02\ 1.svg);
    width: 1759px;
    height: 580px;
    background-repeat: no-repeat;
}

h2 {
    margin-bottom: 20px;
    font: 700 36px 'PlayfairDisplay';
}

.section-two-four p {
    font: 300 17px 'Mulish';
}

.section-three-text {
    display: flex;
    justify-content: space-between;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
    color: #FB8F1D;
}

.view-img {
    background-image: url(./assets/Vector\ 1.svg);
    width: 10px;
    height: 19px;
    background-repeat: no-repeat;
}

.section-three-img {
    display: flex;
    justify-content: space-around;
}

.img-section3-one {
    background-image: url(./assets/image\ 4.png);
    width: 450px;
    height: 350px;
    background-repeat: no-repeat;
}

.img-section3-two {
    background-image: url(./assets/Screen\ Shot\ 2020-02-14\ at\ 4.36\ 1.png);
    width: 450px;
    height: 350px;
    background-repeat: no-repeat;
}

.img-section3-three {
    background-image: url(./assets/Screen\ Shot\ 2020-02-15\ at\ 11.04\ 1.png);
    width: 450px;
    height: 350px;
    background-repeat: no-repeat;
}

.img-section3-four {
    background-image: url(./assets/Screen\ Shot\ 2020-02-15\ at\ 11.10\ 1.png);
    width: 450px;
    height: 350px;
    background-repeat: no-repeat;
}

.img-section4 {
    background-image: url(./assets/Thousand-03.svg);
    width: 859px;
    height: 580px;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #f2f2f6;
}

.footer-one {
    width: 300px;
}

footer p {
    font: 300 18px 'Mulish';
}

.© {
    font: 300 17px 'Mulish';
}

h3 {
    font: 700 19px 'Mulish';
    margin-bottom: 17px;
}